{% extends "layout.twig" %}
{% block title %}Page Not Found
{% endblock %}
{% block content %}
	<h1>404 - Page Not Found</h1>
	<p>The page you're looking for doesn't exist.</p>
	<a href="/">Go back home</a>
{% endblock %}
